@charset 'utf-8';

@import './stylesheets/font-sizes';
@import './stylesheets/foundation-settings';
@import '~foundation-sites/scss/foundation';

@include foundation-global-styles;
@include foundation-xy-grid-classes;
@include foundation-typography;
@include foundation-button;
@include foundation-forms;
@include foundation-form-error;
@include foundation-callout;
@include foundation-top-bar;
@include foundation-menu;

.logo {
  margin: 0;
  font-family: serif;
  font-size: 2rem;
  text-transform: lowercase;

  a {
    color: $logo;
  }
}

.page-header {
  margin-bottom: 2rem;
}

.event-categories-list {
  list-style: none;
  margin: 0;
}

.event-category {
  .button-wrapper {
    text-align: right;
  }
}

.event-types-list {
  list-style: none;
  margin: 0;
}

.event-type {
  .button-wrapper {
    text-align: right;
  }
}

.calendar-header,
.calendar-body {
  list-style: none;
}

.calendar-header-item,
.calendar-item {
  text-align: right;
  padding: 5px;

  &>span,
  &>a {
    display: inline-block;
    padding: 5px;
  }
}

.timeslots-list {
  list-style: none;
  margin: 0;
}

.timeslot-button {
  padding: 0.5rem 2rem;
  margin-bottom: 0.5rem;
}

.main-menu {
  padding: 0.5rem 0;
}

.input.date,
.input.time {
  &>select {
    width: auto;
  }
}

.form-error-below-label {
  margin: 0;
}
