---
http_interactions:
- request:
    method: get
    uri: https://patient.samedi.de/api/booking/v3/times?client_id=<CLIENT_ID>&event_category_id=28889&event_type_id=89871&from=2018-11-05&to=2018-12-07
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain; charset=utf-8
      ETag:
      - W/"4c92eefa3e234dc43b5a46fcd5c3f4e9"
    body:
      encoding: UTF-8
      string: '{"data":[{"time":"2018-11-05T10:00:00+01:00","token":"eb1be1c7604f37525bebd119dc7c2e22b49d590d"},{"time":"2018-11-05T10:30:00+01:00","token":"1c886e9239c1f63b87109cbf4258a744b35455ac"},{"time":"2018-11-05T11:00:00+01:00","token":"3d739b948cc9bffcaa386622e5d91954f13dad78"},{"time":"2018-11-05T11:30:00+01:00","token":"6d09a7fb95c1e6b32c4551e4f368e6dfe927e6ae"},{"time":"2018-11-05T12:00:00+01:00","token":"2dec847234f52f4b09521359e0457d39c651264e"},{"time":"2018-11-05T12:30:00+01:00","token":"a3534672c8689d412c15d84e64bbf74efc8caf7d"},{"time":"2018-11[...]
- request:
    method: post
    uri: https://patient.samedi.de/api/booking/v3/book?client_id=<CLIENT_ID>
    body:
      encoding: US-ASCII
      string: event_category_id=28889&event_type_id=89871&starts_at=2018-11-05T10:00:00+01:00&token=eb1be1c7604f37525bebd119dc7c2e22b49d590d&structured_comment[Neupatient]=JA,
        NEIN&structured_comment[Vorerkrankungen]=Test
    headers:
      Authorization:
      - Bearer <TEST_ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain; charset=utf-8
      ETag:
      - W/"a07f393b2bfd1478328d8310611d261f"
    body:
      encoding: UTF-8
      string: '{"success":true,"data":{"id":39185505,"name":"Prophylaxe","external":true,"referral":false,"creator_type":"Patient::Patient","updater_type":null,"kind":"event","starts_at":"2018-11-05T10:00:00+01:00","attendant_id":"p6a1a87884e","structured_comment":[["Neupatient","JA,
        NEIN"],["Vorerkrankungen","Test"]],"xref":null,"attendant_state":null,"ends_at":"2018-11-05T11:00:00+01:00","color":"orange","name_external":"Prophylaxe","event_type_id":89871,"creator_id":"p6a1a87884e","updater_id":null,"updated_at":null,"lsn":1540899144029,"base_updated_at":null,"event_category_id":28889,"event_type_xref":"si_030fdf6d7f","attendant_xref":null,"duration":"01:05","practice_name":"Klinik
        Morgen (TEST) / - DIES IST EIN TESTKONTO ","practice_id":"2kqsyve1h4t0dyv5","creator_name":null,"updater_name":null,"cancelable_until":"2018-11-05T10:00:00+01:00","editable":true,"course_id":null,"video_consultation":false,"course_participants":null}}'
      effective_url: https://patient.samedi.de/api/booking/v3/book?client_id=<CLIENT_ID>
  recorded_at: Tue, 30 Oct 2018 11:32:25 GMT
recorded_with: VCR 4.0.0
