---
http_interactions:
- request:
    method: get
    uri: https://patient.samedi.de/api/booking/v3/times?client_id=<CLIENT_ID>&event_category_id=50409&event_type_id=156481&from=2018-11-05&to=2018-12-07
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain; charset=utf-8
      ETag:
      - W/"8a4287662b9666af9b4ed3f80974d325"
    body:
      encoding: UTF-8
      string: '{"data":[{"time":"2018-11-05T09:05:00+01:00","token":"742391306b9cb69a410b163bf6c25167c536cdde"},{"time":"2018-11-05T10:05:00+01:00","token":"5f3f99ff84cc74aca1910a4695b0673f8d06fdf3"},{"time":"2018-11-05T11:05:00+01:00","token":"5326ca78df532218918c98773814491fffeb05bc"},{"time":"2018-11-05T15:00:00+01:00","token":"c759212c32413c458d881c5a2e64fffc8a73e755"},{"time":"2018-11-05T16:00:00+01:00","token":"1bd53dbc4c240f42a68fc9e9dfdb25d894008e35"},{"time":"2018-11-05T17:00:00+01:00","token":"e3616a44f1431be41fb09a18d9fd3a31ee2e2547"},{"time":"2018-11[...]
- request:
    method: post
    uri: https://patient.samedi.de/api/booking/v3/book?client_id=<CLIENT_ID>
    body:
      encoding: US-ASCII
      string: event_category_id=50409&event_type_id=156481&starts_at=2018-11-05T09:05:00+01:00&token=742391306b9cb69a410b163bf6c25167c536cdde
    headers:
      Authorization:
      - Bearer <TEST_ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain; charset=utf-8
      ETag:
      - W/"e50003f8594fef74ffcfa1aa19c7cfb7"
    body:
      encoding: UTF-8
      string: '{"success":true,"data":{"id":39185508,"name":"Sprechstunde","external":true,"referral":false,"creator_type":"Patient::Patient","updater_type":null,"kind":"event","starts_at":"2018-11-05T09:05:00+01:00","attendant_id":"pf530aafb00","structured_comment":[],"xref":null,"attendant_state":null,"ends_at":"2018-11-05T09:25:00+01:00","color":"purple","name_external":"Sprechstunde","event_type_id":156481,"creator_id":"pf530aafb00","updater_id":null,"updated_at":null,"lsn":1540899146908,"base_updated_at":null,"event_category_id":50409,"event_type_xref":null,"attendant_xref":null,"duration":"00:20","practice_name":"Praxis
        Zweig (DEMO)","practice_id":"00JDFP8A3KYME1FA","creator_name":null,"updater_name":null,"cancelable_until":"2018-11-05T09:05:00+01:00","editable":true,"course_id":null,"video_consultation":false,"course_participants":null}}'
      effective_url: https://patient.samedi.de/api/booking/v3/book?client_id=<CLIENT_ID>
  recorded_at: Tue, 30 Oct 2018 11:32:27 GMT
recorded_with: VCR 4.0.0
