---
http_interactions:
- request:
    method: get
    uri: https://patient.samedi.de/api/booking/v3/times?client_id=<CLIENT_ID>&event_category_id=50409&event_type_id=156481&from=2018-10-08&to=2018-11-09
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain; charset=utf-8
      ETag:
      - W/"a4242c5ae5291e9c0d72eee0dcf58f86"
    body:
      encoding: UTF-8
      string: '{"data":[{"time":"2018-10-26T11:35:00+02:00","token":"e88f1c24d8a8851f3983f71b2620393bf8452802"},{"time":"2018-10-29T09:50:00+01:00","token":"f48b3c71df59a804a28ef5631b3868c53a005270"},{"time":"2018-10-29T10:00:00+01:00","token":"5f1bb3aa978ae9b88cf7ef170c9f552f05365a97"},{"time":"2018-10-29T11:00:00+01:00","token":"06f6d0a9ded48f388d8a63e8002877998c0c5834"},{"time":"2018-10-29T15:00:00+01:00","token":"6685dc16e10e787ebccd4894f71eaa8f0ba2e2ac"},{"time":"2018-10-29T16:00:00+01:00","token":"44e36d1a18eb6e45cf7f4b782d0aea472f4f0c49"},{"time":"2018-10[...]
- request:
    method: post
    uri: https://patient.samedi.de/api/booking/v3/book?client_id=<CLIENT_ID>
    body:
      encoding: US-ASCII
      string: event_category_id=50409&event_type_id=156481&starts_at=2018-10-26T11:35:00+02:00&token=e88f1c24d8a8851f3983f71b2620393bf8452802
    headers:
      Authorization:
      - Bearer <TEST_ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain; charset=utf-8
      ETag:
      - W/"d18b7eee15941634ab4fb276d6820f58"
    body:
      encoding: UTF-8
      string: '{"success":true,"data":{"id":39087685,"name":"Sprechstunde","external":true,"referral":false,"creator_type":"Patient::Patient","updater_type":null,"kind":"event","starts_at":"2018-10-26T11:35:00+02:00","attendant_id":"pf3e4160064","structured_comment":[],"xref":null,"attendant_state":null,"ends_at":"2018-10-26T11:55:00+02:00","color":"purple","name_external":"Sprechstunde","event_type_id":156481,"creator_id":"pf3e4160064","updater_id":null,"updated_at":null,"lsn":1540546252823,"base_updated_at":null,"event_category_id":50409,"event_type_xref":null,"attendant_xref":null,"duration":"00:20","practice_name":"Praxis
        Zweig (DEMO)","practice_id":"00JDFP8A3KYME1FA","creator_name":null,"updater_name":null,"cancelable_until":"2018-10-26T11:35:00+02:00","editable":true,"course_id":null,"video_consultation":false,"course_participants":null}}'
      effective_url: https://patient.samedi.de/api/booking/v3/book?client_id=<CLIENT_ID>
  recorded_at: Fri, 26 Oct 2018 09:30:53 GMT
recorded_with: VCR 4.0.0
