---
http_interactions:
- request:
    method: get
    uri: https://patient.samedi.de/api/booking/v3/times?client_id=<CLIENT_ID>&event_category_id=28889&event_type_id=89871&from=2018-10-08&to=2018-11-09
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain; charset=utf-8
      ETag:
      - W/"80ec36225ffeb3adadc4482631772234"
    body:
      encoding: UTF-8
      string: '{"data":[{"time":"2018-10-08T10:00:00+02:00","token":"a9d6943a68e21e6483715923588bfdf4e1492f88"},{"time":"2018-10-08T10:30:00+02:00","token":"3055d4321878f74f0633f2901e7d284cf7960d2a"},{"time":"2018-10-08T11:00:00+02:00","token":"e9009035c4c8342e601d0b17b1ba4224553b5291"},{"time":"2018-10-08T11:30:00+02:00","token":"c271cb97d48ca76c03ce3355962e19c58fc0f707"},{"time":"2018-10-08T12:00:00+02:00","token":"aed8be35a468feedabbb216fc7d9c61888a539f9"},{"time":"2018-10-08T12:30:00+02:00","token":"82a2f278712f7e6abe2a98722327f48560194e15"},{"time":"2018-10[...]
- request:
    method: post
    uri: https://patient.samedi.de/api/booking/v3/book?client_id=<CLIENT_ID>
    body:
      encoding: US-ASCII
      string: event_category_id=28889&event_type_id=89871&starts_at=2018-10-08T10:00:00+02:00&token=a9d6943a68e21e6483715923588bfdf4e1492f88&structured_comment[Neupatient]=JA,
        NEIN&structured_comment[Vorerkrankungen]=Test
    headers:
      Authorization:
      - Bearer <TEST_ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain; charset=utf-8
      ETag:
      - W/"edd3999cb893b723696aed51594b5781"
    body:
      encoding: UTF-8
      string: '{"success":true,"data":{"id":38286411,"name":"Prophylaxe","external":true,"referral":false,"creator_type":"Patient::Patient","updater_type":null,"kind":"event","starts_at":"2018-10-08T10:00:00+02:00","attendant_id":"p7880116c65","structured_comment":[["Neupatient","JA,
        NEIN"],["Vorerkrankungen","Test"]],"xref":null,"attendant_state":null,"ends_at":"2018-10-08T11:00:00+02:00","color":"orange","name_external":"Prophylaxe","event_type_id":89871,"creator_id":"p7880116c65","updater_id":null,"updated_at":null,"lsn":1538507476402,"base_updated_at":null,"event_category_id":28889,"event_type_xref":"si_030fdf6d7f","attendant_xref":null,"duration":"01:05","practice_name":"Klinik
        Morgen (TEST) / - DIES IST EIN TESTKONTO ","practice_id":"2kqsyve1h4t0dyv5","creator_name":null,"updater_name":null,"cancelable_until":"2018-10-08T10:00:00+02:00","editable":true,"course_id":null,"video_consultation":false,"course_participants":null}}'
      effective_url: https://patient.samedi.de/api/booking/v3/book?client_id=<CLIENT_ID>
  recorded_at: Tue, 02 Oct 2018 19:11:17 GMT
recorded_with: VCR 4.0.0
