---
http_interactions:
- request:
    method: get
    uri: https://patient.samedi.de/api/booking/v3/event_categories?client_id=<CLIENT_ID>&practice_id=BCMNWE2W3N2R3Z4K
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain; charset=utf-8
      ETag:
      - W/"f27914ddc7a57dc49c3776046331838a"
    body:
      encoding: UTF-8
      string: '{"data":[{"id":9103,"name":"Sprechstunde","description":null,"subtitle":null,"photo_url":null},{"id":11102,"name":"Dr.
        Peter","description":null,"subtitle":null,"photo_url":null}],"scope":"all"}'
      effective_url: https://patient.samedi.de/api/booking/v3/event_categories?client_id=<CLIENT_ID>&practice_id=BCMNWE2W3N2R3Z4K
  recorded_at: Fri, 26 Oct 2018 09:30:29 GMT
recorded_with: VCR 4.0.0
