---
http_interactions:
- request:
    method: get
    uri: https://patient.samedi.de/api/booking/v3/dates?client_id=<CLIENT_ID>&event_category_id=50409&event_type_id=156481&from=2018-10-26&to=2019-03-01
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain; charset=utf-8
      ETag:
      - W/"3f5df0874bf4111fdbe12e9bfe2ec7f0"
    body:
      encoding: UTF-8
      string: '{"data":[{"date":"2018-10-01","available":false},{"date":"2018-10-02","available":false},{"date":"2018-10-03","available":false},{"date":"2018-10-04","available":false},{"date":"2018-10-05","available":false},{"date":"2018-10-06","available":false},{"date":"2018-10-07","available":false},{"date":"2018-10-08","available":false},{"date":"2018-10-09","available":false},{"date":"2018-10-10","available":false},{"date":"2018-10-11","available":false},{"date":"2018-10-12","available":false},{"date":"2018-10-13","available":false},{"date":"2018[...]
