---
http_interactions:
- request:
    method: get
    uri: https://patient.samedi.de/api/booking/v3/times?client_id=<CLIENT_ID>&event_category_id=50409&event_type_id=156481&from=2018-11-05&to=2018-11-09
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain; charset=utf-8
      ETag:
      - W/"a0c22ff2c7c2d4fcc76afd2c55634f05"
    body:
      encoding: UTF-8
      string: '{"data":[{"time":"2018-11-05T09:05:00+01:00","token":"742391306b9cb69a410b163bf6c25167c536cdde"},{"time":"2018-11-05T10:05:00+01:00","token":"5f3f99ff84cc74aca1910a4695b0673f8d06fdf3"},{"time":"2018-11-05T11:05:00+01:00","token":"5326ca78df532218918c98773814491fffeb05bc"},{"time":"2018-11-05T15:00:00+01:00","token":"c759212c32413c458d881c5a2e64fffc8a73e755"},{"time":"2018-11-05T16:00:00+01:00","token":"1bd53dbc4c240f42a68fc9e9dfdb25d894008e35"},{"time":"2018-11-05T17:00:00+01:00","token":"e3616a44f1431be41fb09a18d9fd3a31ee2e2547"},{"time":"2018-11[...]
