---
http_interactions:
- request:
    method: get
    uri: https://patient.samedi.de/api/booking/v3/practices/BCMNWE2W3N2R3Z4K?client_id=<CLIENT_ID>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain; charset=utf-8
      ETag:
      - W/"7d3245a2013b04dcc489777bbad7000f"
    body:
      encoding: UTF-8
      string: '{"name":"Krankenkasse VM","required_patient_fields":["first_name","last_name","mobile","email"],"photo_url":"//app.samedi.de/photos/33724?thumbnail=small"}'
      effective_url: https://patient.samedi.de/api/booking/v3/practices/BCMNWE2W3N2R3Z4K?client_id=<CLIENT_ID>
  recorded_at: Fri, 26 Oct 2018 09:30:51 GMT
recorded_with: VCR 4.0.0
