---
http_interactions:
- request:
    method: get
    uri: https://patient.samedi.de/api/booking/v3/dates?client_id=<CLIENT_ID>&date=2018-12-27&event_category_id=50409&event_type_id=156481
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain; charset=utf-8
      ETag:
      - W/"cd2da77a44254e323d9f9dcaf3cc24ec"
    body:
      encoding: UTF-8
      string: '{"data":[{"date":"2018-12-01","available":false},{"date":"2018-12-02","available":false},{"date":"2018-12-03","available":true},{"date":"2018-12-04","available":true},{"date":"2018-12-05","available":false},{"date":"2018-12-06","available":true},{"date":"2018-12-07","available":true},{"date":"2018-12-08","available":false},{"date":"2018-12-09","available":false},{"date":"2018-12-10","available":true},{"date":"2018-12-11","available":true},{"date":"2018-12-12","available":true},{"date":"2018-12-13","available":true},{"date":"2018-12-14","available":true},{"date":"2018-12-15","available":false},{"date":"2018-12-16","available":false},{"date":"2018-12-17","available":true},{"date":"2018-12-18","available":true},{"date":"2018-12-19","available":true},{"date":"2018-12-20","available":true},{"date":"2018-12-21","available":true},{"date":"2018-12-22","available":false},{"date":"2018-12-23","available":false},{"date":"2018-12-24","available":true},{"date":"2018-12-25","available":false},{"date":"2018-12-26","available":false},{"date":"2018-12-27","available":true},{"date":"2018-12-28","available":true},{"date":"2018-12-29","available":false},{"date":"2018-12-30","available":false},{"date":"2018-12-31","available":true},{"date":"2019-01-01","available":false}]}'
      effective_url: https://patient.samedi.de/api/booking/v3/dates?client_id=<CLIENT_ID>&date=2018-12-27&event_category_id=50409&event_type_id=156481
  recorded_at: Fri, 26 Oct 2018 09:33:02 GMT
recorded_with: VCR 4.0.0
