- content_for :subheader do
  %h2
    = t('.title')
  %h3
    = t('.subtitle')

- content_for :sidebar do
  %p
    = link_to(t('.back_html'), root_path, class: 'back-link')

%p
  = t('.your_booking_id_html', booking_id: @booking_confirmation.id)
