$red-strong: #f01a30;
$red-light: #f04a58;
$pink-light: #fff7fa;
$teal-light: #71dde3;
$teal: #0396a6;
$grayish-brown: #434343;

// Foundation colors
$black: #0a0a0a;
$white: #fefefe;
$light-gray: #e6e6e6;
$medium-gray: #cacaca;
$dark-gray: #8a8a8a;
